<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net472" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net472" />
  <package id="DependencyInjectionResolver" version="2.0.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="EntityFramework.SqlServerCompact" version="6.2.0" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net472" />
  <package id="Facebook" version="7.0.6" targetFramework="net472" />
  <package id="fm.Core" version="2.0.0" targetFramework="net472" />
  <package id="fm.Extensions.Common" version="3.0.0" targetFramework="net472" />
  <package id="fm.Extensions.Logging" version="3.0.0" targetFramework="net472" />
  <package id="fm.Extensions.NetworkCredential" version="2.0.0" targetFramework="net472" />
  <package id="fm.Extensions.SecureString" version="2.0.0" targetFramework="net472" />
  <package id="fm.Extensions.Wpf" version="2.1.0" targetFramework="net472" />
  <package id="fm.Mvvm.Wpf" version="3.1.0" targetFramework="net472" />
  <package id="fm.Windows.Controls.Wpf" version="2.1.0" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net472" />
  <package id="Hammock" version="1.3.1" targetFramework="net472" />
  <package id="Infragistics.Themes.IG.Wpf" version="1.0.0" targetFramework="net472" />
  <package id="Infragistics.Themes.MetroDark.Wpf" version="1.0.0" targetFramework="net472" />
  <package id="Infragistics.Themes.MetroLight.Wpf" version="1.0.0" targetFramework="net472" />
  <package id="Infragistics.Themes.Office2010Blue.Wpf" version="1.0.0" targetFramework="net472" />
  <package id="Infragistics.Themes.Office2013.Wpf" version="1.0.0" targetFramework="net472" />
  <package id="LinkedIn.OAuth" version="0.6.1" targetFramework="net472" />
  <package id="MefContrib" version="1.2.2.1" targetFramework="net472" />
  <package id="MefContrib.Integration.Unity" version="1.2.2.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.13" targetFramework="net472" />
  <package id="MySql.Data.Entity" version="6.10.8" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net472" />
  <package id="Ninject" version="3.3.4" targetFramework="net472" />
  <package id="Prism.Core" version="7.1.0.431" targetFramework="net472" />
  <package id="Prism.Mef" version="6.3.0" targetFramework="net472" />
  <package id="Prism.Unity" version="7.1.0.431" targetFramework="net472" />
  <package id="Prism.Wpf" version="7.1.0.431" targetFramework="net472" />
  <package id="PropertyTools.Wpf" version="2.0.1" targetFramework="net472" />
  <package id="QRCoder" version="1.3.5" targetFramework="net472" />
  <package id="Reflection.Optimization" version="1.0.2" targetFramework="net472" />
  <package id="Simple.Wpf.Themes" version="2.0.0.0" targetFramework="net472" />
  <package id="SocialAuth4Net" version="0.9.31.12148" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.5.1" targetFramework="net472" />
  <package id="TAlex.WPF.Controls" version="2.0.1.0" targetFramework="net472" />
  <package id="Toolkit.WPF" version="1.0.5752.30721" targetFramework="net472" />
  <package id="TwitterOAuth" version="0.50.25.1928" targetFramework="net472" />
  <package id="Unity" version="5.8.13" targetFramework="net472" />
  <package id="Unity.Abstractions" version="3.3.1" targetFramework="net472" />
  <package id="Unity.AutoRegister" version="0.2" targetFramework="net472" />
  <package id="Unity.Container" version="5.8.13" targetFramework="net472" />
  <package id="Unity.Interception" version="5.5.6" targetFramework="net472" />
  <package id="Wpf.Themes" version="1.1.0" targetFramework="net472" />
  <package id="Wpf.Themes.ExpressionDark" version="1.1.0" targetFramework="net472" />
  <package id="Wpf.Themes.ExpressionDark.MessageBox" version="1.0.0" targetFramework="net472" />
  <package id="WPF.Tools" version="1.7.2" targetFramework="net472" />
  <package id="Xceed.Products.Wpf.DataGrid.Full" version="6.6.18313.21330" targetFramework="net472" />
  <package id="Xceed.Products.Wpf.Toolkit.Full" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Aero" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Metro" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock.Themes.MetroAccent" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Office2007" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock.Themes.VS2010" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Windows10" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.Controls" version="6.6.18313.21330" targetFramework="net472" />
  <package id="Xceed.Wpf.DataGrid" version="6.6.18313.21330" targetFramework="net472" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.1" version="6.6.18313.21330" targetFramework="net472" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.2" version="6.6.18313.21330" targetFramework="net472" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.3" version="6.6.18313.21330" targetFramework="net472" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.4" version="6.6.18313.21330" targetFramework="net472" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.5" version="6.6.18313.21330" targetFramework="net472" />
  <package id="Xceed.Wpf.DataGrid.Themes.Metro" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.DataGrid.Themes.Office2007" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.DataGrid.Themes.Windows10" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.DataGrid.Views3D" version="6.6.18313.21330" targetFramework="net472" />
  <package id="Xceed.Wpf.DataGrid_Toolkit" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.ListBox" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.ListBox.Themes.LiveExplorer" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.ListBox.Themes.Metro" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.ListBox.Themes.Office2007" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.ListBox.Themes.Windows10" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.ListBox.Themes.WMP11" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.Themes" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.Themes.Metro" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.Themes.Office2007" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.Themes.Windows10" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.Toolkit" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.Toolkit.Themes.Metro" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.Toolkit.Themes.Office2007" version="3.7.18313.20590" targetFramework="net472" />
  <package id="Xceed.Wpf.Toolkit.Themes.Windows10" version="3.7.18313.20590" targetFramework="net472" />
</packages>